@font-face {
    font-family: 'TerminaTest-Regular';
    src: url(/tipografias/TerminaTest-Regular.otf);
}
@font-face {
    font-family: 'TerminaTest-SemiBold';
    src: url(/tipografias/TerminaTest-Bold.otf);
}
@font-face {
    font-family: 'Arial Rounded MT Bold';
    src: local("Arial Rounded MT Bold");
    font-weight: normal;
}
html {
    font-size:62.5%;
}
* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
input {
    border: none;
}
body {
    width: 191.9rem;
}.tablero {
    display: none;
     width: 100%;
     height: 94.5rem;
     position: relative;
     overflow: hidden;
     background-color: #f6f6f6;
 }
.tablero .menu {
    box-sizing: border-box;
    padding: 4.6rem 1.2rem 4.4rem 5.6rem;
    width: 25.3rem;
    height: 94.5rem;
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #f6f6f6;
    border-radius: 2rem;
}
.tablero .menu .m_baraa {
    margin: 0rem 2.4rem 5.125rem 0rem;
    width: calc(100% - 2.4rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.tablero .menu .m_baraa .m_logo {
    margin-right: 9.3rem;
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .menu .m_baraa .m_opciones {
    margin-bottom: 0.4rem;
    width: 2.8rem;
    height: 2.1rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .menu .m_menu {
    margin: 0rem 8.9rem 5.8rem 1.25rem;
    width: calc(100% - 10.1501rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}
.tablero .menu .m_menu .m_menu_logo {
    margin: 0rem 1.45rem 0.075rem 0rem;
    width: 2.0997rem;
    height: 2.1004rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .menu .m_menu .m_btnmenu {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2175;
    color: #707579;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .menu .m_mitablero {
    margin: 0rem 5.1rem 4.975rem 1.1rem;
    box-sizing: border-box;
    padding-left: 0.1rem;
    width: calc(100% - 6.2rem);
    height: 2.4rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}
.tablero .menu .m_mitablero .m_mitablero_logo {
    margin: 0.1rem 1.4rem 0rem 0rem;
    width: 2.2rem;
    height: 2.2rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .menu .m_mitablero .m_btnmitablero {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2175;
    color: #4461f2;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .menu .m_descargarlista {
    margin: 0rem 0rem 5.075rem 1.179rem;
    width: calc(100% - 1.1787rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}
.tablero .menu .m_descargarlista .m_descargarlista_icono {
    margin-right: 1.3787rem;
    width: 2.2426rem;
    height: 2.25rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .menu .m_descargarlista .m_btndescargarlista {
    margin-bottom: 0.025rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2175;
    color: #707579;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .menu .m_miperfil {
    margin: 0rem 4.7rem 53rem 1.25rem;
    width: calc(100% - 5.95rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}
.tablero .menu .m_miperfil .m_miperfil_logo {
    margin-right: 1.25rem;
    width: 2.3rem;
    height: 2.2rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .menu .m_miperfil .m_btnmiperfil {
    margin-top: 0rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2175;
    color: #707579;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .menu .m_btncerrarsesion {
    margin: 0rem 0rem 2rem 0.7rem;
    position: absolute;
    top: 85%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2175;
    color: #707579;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .menu .m_cerrarsesion {
    margin: 0rem 6.9rem 0rem 0.493rem;
    width: calc(100% - 7.393rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}
.tablero .menu .m_cerrarsesion .buyer-1-yxf {
    margin: 0rem 2.107rem 0.2rem 0rem;
    width: 2.2rem;
    height: 2.2rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .menu .m_cerrarsesion .mi-perfil-73H {
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2175;
    color: #707579;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .m_cerrarsesion_logo {
    width: 2.6rem;
    height: 2.6rem;
    position: absolute;
    left: 3.8rem;
    top: 80rem;
    object-fit: contain;
    vertical-align: top;
}
.tablero .tablero_opciones {
    width: 185rem;
    height: 102.4rem;
    position: absolute;
    left: 6.4rem;
    top: 0;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj {
    width: 26.3rem;
    height: 68.4rem;
    position: absolute;
    left: 19.9rem;
    top: 3.3rem;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .txt_mitablero {
    margin: 0rem 8.387rem 3.4rem 0.5rem;
    width: calc(100% - 8.8872rem);
    height: 4.4rem;
    display: flex;
    align-items: flex-end;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .txt_mitablero .txt_bienvenida {
    margin-right: 0.2873rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .txt_mitablero .txt_bienvenida .mi-tablero-1RV {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    font-family: Termina Test, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .txt_mitablero .txt_bienvenida .text_holadenuevo {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2175;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .txt_mitablero .emoji_saludo {
    margin-bottom: 0.0879rem;
    width: 1.8255rem;
    height: 1.8243rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .btn_crear_grupo {
    border: none;
    margin-bottom: 6.9rem;
    box-sizing: border-box;
    padding: 1.8rem 0.2rem 1.9rem 0.2rem;
    width: 100%;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1rem;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .btn_crear_grupo .text_creargrupo {
    margin: 0rem 16rem 0.625rem 0rem;
    width: calc(100% - 16rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .btn_crear_grupo .text_creargrupo .linea_crear_grupo {
    margin: 0.1rem 2.4rem 0rem 0rem;
    width: 0rem;
    height: 3.8rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .btn_crear_grupo .text_creargrupo .txt_crear_grupo {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    font-family: Termina Test, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .btn_crear_grupo .crear_grupo_icon {
    margin: 0rem 0rem 2.325rem 0.1rem;
    width: 3.75rem;
    height: 3.75rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .btn_crear_grupo .text_crear_grupo {
    margin-right: 1.3rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2175;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .btn_despedir_grupo {
    border: none;
    margin-bottom: 6.9rem;
    width: 100%;
    height: 15.6rem;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1rem;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .btn_despedir_grupo .text_despedir_grupo {
    width: 11.1rem;
    height: 1.3rem;
    position: absolute;
    left: 4.1rem;
    top: 12.4rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2175;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .btn_despedir_grupo .linea_despedir_grupo {
    width: 12.1rem;
    height: 3.9rem;
    position: absolute;
    left: 0.2rem;
    top: 1.8rem;
    display: flex;
    align-items: flex-start;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .btn_despedir_grupo .linea_despedir_grupo .img_linea_dg {
    margin: 0.1rem 2.4rem 0rem 0rem;
    width: 0rem;
    height: 3.8rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .btn_despedir_grupo .linea_despedir_grupo .txt_despedir_grupo {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    font-family: Termina Test, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .btn_despedir_grupo .icon_despedir_grupo {
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    left: 10.9rem;
    top: 5.6rem;
    object-fit: contain;
    vertical-align: top;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .btn_aceptar_grupo {
    border: none;
    box-sizing: border-box;
    padding: 1.8rem 0.2rem 1.9rem 0.2rem;
    width: 100%;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1rem;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .btn_aceptar_grupo .div_aceptar_grupo {
    margin: 0rem 14.6rem 0rem 0rem;
    width: calc(100% - 14.6rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .btn_aceptar_grupo .div_aceptar_grupo .img_aceptar_grupo {
    margin: 0.1rem 2.4rem 0rem 0rem;
    width: 0rem;
    height: 3.8rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .btn_aceptar_grupo .div_aceptar_grupo .text_aceptar_grupo {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    font-family: Termina Test, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .btn_aceptar_grupo .icon_aceptar_grupo {
    margin: 0rem 0rem 3.2rem 0.2rem;
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .tablero_opciones .auto-group-2f1m-dvj .btn_aceptar_grupo .info_aceptar_grupo {
    margin-right: 4.5rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2175;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero2 {
    width: 26.3rem;
    height: 38.1rem;
    position: absolute;
    left: 51.1rem;
    top: 11.1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.tablero .tablero_opciones .mi_tablero2 .btn_tomar_asistencia {
    border: none;
    margin-bottom: 6.9rem;
    box-sizing: border-box;
    padding: 1.8rem 0.2rem 1.9rem 0.2rem;
    width: 100%;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1rem;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero2 .btn_tomar_asistencia .div_tomar_asistencia {
    margin: 0rem 13rem 0.8rem 0rem;
    width: calc(100% - 13rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero2 .btn_tomar_asistencia .div_tomar_asistencia .linea_tomar_asistencia {
    margin: 0.1rem 2.4rem 0rem 0rem;
    width: 0rem;
    height: 3.8rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero2 .btn_tomar_asistencia .div_tomar_asistencia .text_tomar_asistencia {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    font-family: Termina Test, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero2 .btn_tomar_asistencia .icon_tomar-asistencia {
    margin: 0rem 0rem 2.558rem 0.044rem;
    width: 3.3437rem;
    height: 3.3424rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero2 .btn_tomar_asistencia .info_tomar_asistencia {
    margin-right: 8rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2175;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero2 .btn_grupos_anteriores {
    border: none;
    box-sizing: border-box;
    padding: 1.8rem 0.2rem 1.9rem 0.2rem;
    width: 100%;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1rem;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero2 .btn_grupos_anteriores .div_grupos_anteriores {
    margin: 0rem 12.3rem 0.3rem 0rem;
    width: calc(100% - 12.3rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero2 .btn_grupos_anteriores .div_grupos_anteriores .linea_grupos_anteriores {
    margin: 0.1rem 2.4rem 0rem 0rem;
    width: 0rem;
    height: 3.8rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero2 .btn_grupos_anteriores .div_grupos_anteriores .text_grupos_anteriores {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    font-family: Termina Test, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero2 .btn_grupos_anteriores .icon_grupos_anteriores {
    margin-bottom: 1.9rem;
    width: 4.5rem;
    height: 4.5rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero2 .btn_grupos_anteriores .info_grupos_anteriores {
    margin-right: 2.9rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2175;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero3 {
    box-sizing: border-box;
    padding-bottom: 53.2rem;
    width: 69.6rem;
    height: 101.1rem;
    position: absolute;
    left: 82.3rem;
    top: 1.3rem;
}
.tablero .tablero_opciones .mi_tablero3 .info_perfil {
    margin: 0rem 16.2rem 3.8rem 30.7rem;
    width: calc(100% - 46.9rem);
    display: flex;
    align-items: flex-start;
}
.tablero .tablero_opciones .mi_tablero3 .info_perfil .img_perfil {
    margin-right: 1.7rem;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 5rem;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero3 .info_perfil .div_info {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero3 .info_perfil .div_info .text_usuario {
    margin-bottom: 0.6rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero3 .info_perfil .div_info .email_usuario {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #707579;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero3 .btn_editar_lista {
    border: none;
    margin-bottom: 6.9rem;
    box-sizing: border-box;
    padding: 1.8rem 0.2rem 1.9rem 0.2rem;
    width: 26.3rem;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1rem;
}
.tablero .tablero_opciones .mi_tablero3 .btn_editar_lista .div_editar_lista {
    margin: 0rem 16.5rem 0.3rem 0rem;
    width: calc(100% - 16.5rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero3 .btn_editar_lista .div_editar_lista .linea_editar_lista {
    margin: 0.1rem 2.4rem 0rem 0rem;
    width: 0rem;
    height: 3.8rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero3 .btn_editar_lista .div_editar_lista .text_editar_lista {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    font-family: Termina Test, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero3 .btn_editar_lista .icon_editar_lista {
    margin-bottom: 1.9rem;
    width: 4.5rem;
    height: 4.5rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero3 .btn_editar_lista .info_editar_lista {
    margin-right: 5.9rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2175;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero3 .btn_transferir_grupo {
    border: none;
    box-sizing: border-box;
    padding: 1.8rem 0.2rem 1.9rem 0.2rem;
    width: 26.3rem;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1rem;
}
.tablero .tablero_opciones .mi_tablero3 .btn_transferir_grupo .div_transferir_grupo {
    margin: 0rem 13.3rem 0.3rem 0rem;
    width: calc(100% - 13.3rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero3 .btn_transferir_grupo .div_transferir_grupo .linea_transferir_grupo {
    margin: 0.1rem 2.4rem 0rem 0rem;
    width: 0rem;
    height: 3.8rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero3 .btn_transferir_grupo .div_transferir_grupo .text_transferir_grupo {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    font-family: Termina Test, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero3 .btn_transferir_grupo .icon_transferir_grupo {
    margin: 0rem 0rem 2.9rem 0rem;
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.tablero .tablero_opciones .mi_tablero3 .btn_transferir_grupo .info_transferir_grupo {
    margin-right: 3.7rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2175;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tablero .tablero_opciones .img_rocket {
    box-sizing: border-box;
    padding: 11.8rem 0rem 0rem 1.6rem;
    width: 50rem;
    height: 50rem;
    position: absolute;
    left: 120rem;
    top: 20rem;
}
.tablero .tablero_opciones .img_rocket .img_tablero {
    width: 50rem;
    height: 50rem;
    object-fit: cover;
    vertical-align: top;
}
